<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>Foodle</title>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <!--[if lt IE 9]>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <![endif]-->

    <script src="/js/angular.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/ui-bootstrap-tpls-0.11.2.min.js"></script>
    <script src="/js/outlook4all.js"></script>
    <script src="/js/angular-animate.min.js"></script>
    <script src="/js/loading-bar.min.js"></script>

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/loading-bar.min.css">

</head>

<body ng-app="Outlook4All">
<div ng-controller="SearchController" ng-init="init()" class="container-fluid">

    <div ng-include src="'form_top.html'"></div>
    <span style="font-size:12px;margin:0;padding:0;vertical-align:top;display: inline-block;">{{hits}} results ({{took}} ms)</span>

    <div class="row">
        <div class="col-md-7" style="font-size:14px;">

        <div data-ng-repeat="entry in searchRes" class="list-group">
            <span class="badge">{{entry.submit_time| date:'medium'}}</span>
            <span class="label " style="font-size:15px;">
                <a target="_self" href="/conversation.html?q={{entry.topic | escape}}">{{entry.topic}}</a></span>
            <span ng-if="entry.hasAttachment" class="label"><img src="attachment.jpeg" style="max-height:20px; margin-top: -10px;"/></span>
            <span ng-bind-html="entry.body | sanitize"></span>
        </div>
        </div>


    </div>
    <div class="row">
        <div class="col-md-6" style="font-size:14px;">
            <pagination total-items="hits" max-size="10" boundary-links="true" ng-model="currentPage" ng-change="pageSearch()"></pagination>
        </div>
</div>

</div>

    <footer class="footer">
    <div class="container">
        <p class="text-muted">Any questions/ideas mail to <a href="mailto:Dmitrii.Soin@hp.com">Dmitrii Soin</a></p>
    </div>
</footer>


</body>

</html>